body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: #DAE9FE;
}

main {
    background-color: aquamarine;
    margin: 3%;
    height: 100%;
}

.perfil {
    width: 75%;
    padding: 5%;
}

.navbar {
    background-color: #B1C2FA;
    text-align: center;
}

.subnav {
    padding: 0.5%;
    height: 50%;
    background-color: bisque;
    justify-items: center;
}

.btn {
    margin-left: 1%;
}

.btn-temas {
    margin-left: 1%;
    margin-right: 36%;
}

#emailUser {
    margin-left: 41%;
}

#logoOrkut {
    width: 7%;
}

#lateral-esq {
    background-color: blue;
    margin-right: 85%;
}