body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: #B1C2FA;
}

main {
    background-color: aquamarine;
    margin: 1%;
    height: 100%;
}

.perfil {
    width: 10%;
}

.navbar {
    background-color: #B1C2FA;
}